.album__title {
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px 0;
}

.album__list {
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    gap: 10px;
    list-style: none;
    width: 100%;
    justify-content: center;
}